/*
 * Blockchain demo stylesheet
 * 
 * Created on: Sep 7, 2018
 * Author: C.Karreman
 */
body  {
    font-family: Verdana, sans-serif;
}
input, textarea, button {
    border: 2px solid grey;
    border-radius: 3px;
    padding: 5px;
}
.chain-div {
    display: block;
    position: relative;
    padding: 0;
    margin: 20px;
}
.chain-div>h2 {
    position: absolute;
    left: 5px;
    top: 5px;
    margin: 0;
}
.chain-div>.new-block {
    position: absolute;
    right: 5px;
    top: 5px;
}
.chain-view {
    display: block;
    padding-top: 40px;
    overflow-x: scroll;
    background: rgb(206, 210, 226);
    border: 3px solid rgb(145, 148, 160);
    border-radius: 5px;
}
.chain {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.blockitem {
    display: inline-block;
    width: 400px;
    margin: 10px;
    padding: 7px;
    border: 3px solid rgb(145, 148, 160);
    border-radius: 5px;
    background:bisque;
}
.blockitem.correct {
    background: #90EE90;
}
.blockitem.error {
    background: #FFB6C1;
}
.block h3 {
    display: block;
    padding: 0;
    margin: 0 0 10px 0;
    line-height: 1rem;
}
.block .input-row {
    margin: 3px 0;
}
.block label {
    display: inline-block;
    width: 70px;
}
.block input[type=text],
.block textarea {
    width: 300px;
}
